main {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #f3e0dc;
  padding-top: 4em;
}
.navbar {
  background-color: #a1c3d1;
}
.card-body {
  background-color: #b39bc8;
}
a {
  font-weight: bold;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

/* color schemes at https://visme.co/blog/website-color-schemes/ */
/*  #f3e0dc #a1c3d1 #b39bc8 */
