main {
  font-family: Arial, Helvetica, sans-serif;
  background: lightskyblue;
}
.navbar {
  background-color: lightgray;
}
.card-body {
  background-color: lightgray;
}
a {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: red;
  text-decoration: none;
}
