main {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #f0ebf4;
}
.navbar {
  background-color: #a1c3d1;
}
.card-body {
  background-color: #b39bc8;
}
a {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  font-weight: bold;
  text-decoration: none;
}

/* color schemes at https://visme.co/blog/website-color-schemes/ */
